{% extends 'home.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class='signUp'>

<div class='register'>

    <h2 class="text-center">Réinitialisez votre mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary mt-3">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}

</div>
</div>
{% endblock %}