{% extends 'home.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

<div class='signUp'>

    <div class='register'>

<h4 class="mb-3">Ajoute une categorie</h4>

{{ form(form) }}


   </div>
   </div>
{% endblock %}