<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# <link href="{{ asset('asset/css/base.css') }}" rel="stylesheet"> #}
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}


    {% block javascripts %}{% endblock %}
</head>

<body>
    {% include "_shared/_navbar.html.twig" %}
    <div class="container">
    {% block body %}{% endblock %}
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js">
    </script>
</body>

</html>